/* Style all element boxes to screen extent */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Setting background colour for webpage */
body {
    background-color: #d9dcd6;
}

/* Setting font style and colour for all text in the header and creating background header box with blue font */
header {
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

h1 {
    display: inline-block;
    font-size: 48px;
}

/* "seo" in horiseon is emphasized with different font colour by giving it a unique id  */
#seo {
    color: #d9dcd6;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    font-size: 20px;
}

/* Displaying internal nav links in the header in a row to the right of the page */
li {
    display: inline-block;
    margin-left: 25px;
}

/* Set all paragraph and linked fonts to white (and removes underlines fromnav bar)*/
a, p {
    color: #ffffff;
    text-decoration: none;
}

/* Allows large image to behave like background image while still being linked in html by using object-fit */
.hero {
    display: block;
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    object-fit: cover;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    
}

.details {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* float classes indicate where images exist within the details class(boxes) */
.float-left {
    float: left;
    margin-right: 25px;
    max-height: 200px;
}

.float-right {
    float: right;
    margin-left: 25px;
    max-height: 200px;
}

.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Using aside semantic element with classes to customize the sidebar's font, header, and icon postions and style*/
aside {
    margin-top: -960px;
    margin-right: 20px;
    margin-bottom: 32px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.aside-content h3 {
    margin-bottom: 10px;
    text-align: center;
    color: #ffffff;
}

.aside-content img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* footer with small semantic element for copyright information */
footer, small {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: black;
}

